altgraph
cycler
fonttools
h5py
kiwisolver
macholib
matplotlib
numpy
packaging
pillow
pyinstaller
pyinstaller-hooks-contrib
pyparsing
PyQt5
python-dateutil
multiprocessing
PyWavelets
json
scipy
tqdm
pythonnet
